// the first row has a 0px height because all of the child elements are floated so the height element collapses and becomes 0. To fix this, we use the clearfix hack. The clearfix mixin will append (toevoegen) a pseudo element after the element which will than clear these floats. 

@mixin clearfix {
    &::after{ //.row::after
        content: ""; // always specify content otherwise it will not appear on the page
        display: table; // is standard version of the clearfix
        clear: both; // will clear float left and float right. 
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// mixins query manager
/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape 
[1200-1800] is where normal styles apply
1800px +: big desktop

$breakpoint argument choices:
- phone-small
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > specific page layout > components
The overall font-size takes care of most of the changes. 

1em = 16px. best to convert in em because rem doesnt work in all browsers the way it supposed to work. 
*/

@mixin respond($breakpoint){
    @if $breakpoint == phone-small{
        @media only screen and (max-width: 22em){ @content }; //350px
    }
    @if $breakpoint == phone{
        @media only screen and (max-width: 37.5em){ @content }; //600px
    }
    @if $breakpoint == tab-port{
        @media only screen and (max-width: 56.25em){ @content };  //900px
    }
    @if $breakpoint == tab-land{
        @media only screen and (max-width: 75em){ @content };   //1200px
    }
    @if $breakpoint == big-desktop{
        @media only screen and (min-width: 112.5em){ @content }; //1800
    }
}